##[ Quoripagosアプリケーションサーバ ]#############################################
# quoripagosServer: "http://192.168.11.5:8000"
quoripagosServer: "wss://quori-dev.onlinesession.app"

# Quoripagosサーバとの通信のタイムアウト時間（単位：ms）
socketTimeout: 50000

##[ BCDice-API ]################################################################
# 向き先（末尾のスラッシュはなし）
bcdiceServer: "https://bcdice.onlinesession.app"
